html, body, div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, figure, legend, input, button, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
    
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
    
body {
    line-height: 1;
}
    
ol, ul {
    list-style: none;
}
    
blockquote, q {
    quotes: none;
}
    
blockquote p:before, blockquote p:after, q:before, q:after {
    content: '';
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    float: none;
    width: 100%;
    height: 1px;
}

.header {
    background-color: #fff;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 -25px 11px 20px #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    min-width: 1200px;
}

.header ul {
    list-style-type: none;
    text-align: right;
    padding: 0 75px;
    float: right;
}