<html>
    <head>
        <!-- meta data -->
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="Content-Language" content="en-US">
        <base href="{global.baseUrl}" />
        <title>{head.title} | {global.appName}</title>
        <meta name="description" content="{head.description}">

        <!-- static assets -->
        <link rel="image/x-icon" rel="icon" href="favicon.ico">
        <script type="text/javascript" charset="UTF-8" src="public/app.js"></script>
        <link rel="stylesheet" type="text/css" href="public/app.css">
    </head>
    <body class="{body.class}">
        <!-- Page wrapper -->
        <div class="wrapper">

        <!-- Page wrapper -->
        <div class="header">
            <!-- logo -->
            <a href="/" class="logo"></a>
            <ul class="menu"></ul>
            <li>
                <a href="/" class="list-item-link">Home</a>
            </li>
            <li>
                <a href="/" class="list-item-link">Signup</a>
            </li>
            <li>
                <a href="/" class="list-item-link">Login</a>
            </li>
            <li>
                <a href="/" class="list-item-link logged-in">Dashboard</a>
            </li>
            <li>
                <a href="/" class="list-item-link logged-in">Account Settings</a>
            </li>
            <li>
                <a href="/" class="list-item-link logged-in">Logout</a>
            </li>
        </div>

        <!-- Page-specific content -->
        <div class="content">
